JWT_SECRET=your_jwt_secret_here

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

KAFKA_HOST=localhost
KAFKA_PORT=9092

DB_HOST_AUTH=localhost
DB_PORT_AUTH=5433
DB_NAME_AUTH=auth_db
DB_USERNAME_AUTH=your_user
DB_PASSWORD_AUTH=your_password

DB_HOST_RES=localhost
DB_PORT_RES=5434
DB_NAME_RES=restaurant_db
DB_USERNAME_RES=your_user
DB_PASSWORD_RES=your_password

DB_HOST_ORD=localhost
DB_PORT_ORD=5435
DB_NAME_ORD=order_db
DB_USERNAME_ORD=your_user
DB_PASSWORD_ORD=your_password

DB_HOST_DEL=localhost
DB_PORT_DEL=5436
DB_NAME_DEL=delivery_db
DB_USERNAME_DEL=your_user
DB_PASSWORD_DEL=your_password

DB_HOST_PAY=localhost
DB_PORT_PAY=5437
DB_NAME_PAY=payment_db
DB_USERNAME_PAY=your_user
DB_PASSWORD_PAY=your_password

DB_HOST_NOT=localhost
DB_PORT_NOT=5438
DB_NAME_NOT=notification_db
DB_USERNAME_NOT=your_user
DB_PASSWORD_NOT=your_notif_password
